.edit-nav button {
    line-height: 14px !important;
    background-color: #182227;
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
    transition: all .10s ease-in-out;
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    -o-transition: all .10s ease-in-out;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    padding: 3px 10px;
    float: right;
    margin: 0 0 0 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 94% center;
    border: 0;
}

.edit-nav button:hover {
    cursor: pointer;
    background-color: #CF3805;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    line-height: 14px !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
}

.full_description { display: none;}
.fancybox-inner img {
  max-width: 100%;
  max-height: 480px;
}
.fancybox-inner ul {
  list-style-type: disc;
  padding-left: 15px;
}
.fancybox-inner h4, .fancybox-inner h5, .fancybox-inner h6 {
  font-size: 16px;
  color: #CF3805;
}
.fancybox-inner pre, .fancybox-inner ul, .fancybox-inner h4, .fancybox-inner h5, .fancybox-inner h6 {
  margin: 10px 0;
}
.fancybox-inner a:link, .fancybox-inner a:visited {color: #415A66; text-decoration:underline;}
.fancybox-inner a:hover {color: #333;}